<!DOCTYPE html>
<html ng-app="listaTelefonica">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lista Telefônica</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>

		<style>
			.jumbotron{
				width: 400px;
				text-align: center;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
			}

			.table{
				margin-top: 20px;
			}

			.form-control{
				margin-bottom: 5px;
			}
		</style>

		<script src="lib/angular/angular.js"></script>
		<script>
			
			angular.module("listaTelefonica", []);

			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){
				$scope.app = "Lista Telefônica";
				$scope.contatos = [
					{
						nome: "Maria",
						telefone: "42912345678"
					},
					{
						nome: "Joao",
						telefone: "42987654321"
					},
					{
						nome: "Pedro",
						telefone: "42912348765"
					}
				];

				$scope.operadoras = [
					{
						nome: "Oi",
						codigo: 14,
						categoria: "Celular"
					},
					{
						nome: "Vivo",
						codigo: 15,
						categoria: "Celular"
					},
					{
						nome: "Tim",
						codigo: 41,
						categoria: "Celular"
					},
					{
						nome: "GVT",
						codigo: 25,
						categoria: "Fixo"
					},
					{
						nome: "Embratel",
						codigo: 21,
						categoria: "Fixo"
					},

				];

				$scope.adicionarContato = function(contato){
					//console.log($scope.nome);
					//console.log($scope.telefone);
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
				};
			});

		</script>

	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">

			<h4>{{app}}</h4>

			<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
				</tr>
				<tr ng-repeat="contato in contatos">
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
				</tr>
			</table>
			<hr/>

			{{contato}}
			<!-- NgModel vincula uma propriedade ao scope -->
			<input class="form-control" type="name" ng-model="contato.nome" placeholder="Nome" />
			<input class="form-control" type="telefone" ng-model="contato.telefone" placeholder="Telefone" />

			<!-- Utilizando NgOptions e Group By -->
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>

			<!-- NgClick atribuindo comportamento ao evento -->
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>

			</table>
		</div>
	</body>
</html>